@use '../style/index.scss' as *;

.px-button {
  @include btn-base;
  margin-block: 7px;

  &--solid {
    @include btn-variant(var(--light-color), var(--accent-color), transparent, var(--black-color));
  }
  &--outline {
    @include btn-variant(var(--accent-color), transparent, var(--accent-color), var(--accent-color));

    &:hover {
      color: white;
    }
  }

  &--ghost {
    margin-top: 24px;
    padding: unset;
    border-radius: unset;
    @include btn-variant(var(--accent-color), transparent, transparent, transparent);
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 2px;
    transition: 0.2s;

    &:hover {
      transform: unset;
    }

    &:active {
      transform: unset;
    }
  }
}
