@use '../style/index.scss' as *;

.px-card-wrapper {
  padding-block: 24px 0;
}
.px-card {
  display: flex;
  img {
    object-fit: contain;
    transform: scale(1);
    transition: transform 0.4s ease;
  }
  &--horizontal {
    display: inline-flex;
    align-items: center;

    .px-card--image {
      max-width: 64px;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
    }
  }

  &--vertical {
    flex-direction: column;
    align-items: start;

    .px-card--image {
      max-width: 64px;
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
    }
  }

  &--centered {
    align-items: center;
    .px-heading,
    .px-text {
      text-align: center;
    }

    .px-heading {
      margin: 0;
    }
  }

  &--compact {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px 8px 8px;
    border: 1px solid var(--light-color);
    border-radius: 16px;
    max-width: 376px;
    flex: 1 1 100%;
    justify-content: space-between;
    transition: all 200ms ease;

    .px-card-content-block {
      display: inline-flex;
      align-items: center;
    }

    .px-card-icon-block {
      max-height: 48px;
      max-width: 48px;
      padding: 12px;
      background-color: var(--light-gray);
      border-radius: 8px;
    }

    .px-heading {
      font-size: 1.125rem;
      letter-spacing: -0.27px;
      color: var(--black-color);
    }

    .px-card-button-block {
      width: 24px;
      height: 24px;
    }

    &:hover {
      border-color: var(--heading-color);
      box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    }
  }

  &--logo {
    display: flex;
    align-items: center;
    padding: 32px 12px;
    aspect-ratio: 16/9;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 30%;
      width: 1px;
      background-color: #d9d9d9;
    }

    @media (min-width: 1024px) {
      &:nth-child(3n) {
        &::after {
          display: none;
        }
      }
    }

    @include screen-1024 {
      &:nth-child(2n) {
        &::after {
          display: none;
        }
      }
    }

    @include screen-552 {
      &::after {
        display: none;
      }
    }

    .px-logo {
      display: flex;
      justify-content: center;
    }
  }

  &--blog {
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid var(--light-gray);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    .px-blog-excerpt,
    .px-blog-title {
      display: -webkit-box;
      -webkit-line-clamp: 3; // Default for excerpt
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__image-block {
      border-radius: 8px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    &__author-image-block {
      aspect-ratio: 1;
      width: 48px;
      height: 100%;
      border-radius: 50%;

      img {
        object-fit: cover;
        height: 100%;
      }
    }

    &__author-block,
    &__blog-info-block {
      display: inline-flex;
      align-items: center;
    }

    .px-blog-content-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .px-blog-info:not(:first-child)::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      background-color: var(--light-gray);
      border-radius: 50%;
      margin: 0 8px 3px;
      vertical-align: middle;
    }

    &--col {
      padding: 6px 6px 40px;
      flex-direction: column;

      .px-blog-content-block {
        padding: 32px 26px 0;
      }

      &__image-block {
        aspect-ratio: 1.64;
        height: 100%;

        img {
          width: 100%;
        }
      }
    }

    &--row {
      padding: 6px 32px 6px 6px;
      flex-direction: row;

      .px-blog-content-block {
        padding: 20px 0 15px 20px;
      }

      &__image-block {
        max-width: 235px;

        img {
          height: 100%;
        }
      }
    }

    &:hover:not(&--tall) {
      border-color: var(--heading-color);
      box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    }

    &:hover {
      img:not(.px-blog-author-image) {
        transform: scale(1.1);
      }
    }

    &--tall {
      border: 0px solid transparent;
      flex-direction: column;

      &__image-block {
        aspect-ratio: 0.9;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        img {
          object-fit: cover;
          height: 100%;
        }
      }

      .px-blog-content-block {
        margin-top: 25px;
      }
    }
  }
  &--icon-box {
    padding: 40px;
    background-color: var(--white);
    border-radius: 20px;

    .px-card__icon {
      margin-bottom: 32px;
      width: 56px;
      height: 56px;
    }
  }

  &--testimonial {
    padding: 32px;
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 12px;

    &__content-block {
      border: 1px solid, var(--light-gray);
      border-left: unset;
      border-right: unset;
      padding-block: 2rem;
      margin-block: 1rem;
    }

    &__author-block {
      padding-bottom: 1rem;
      align-items: center;
    }

    &__rating-block {
      padding-top: 1rem;
    }

    &__author-image-block {
      width: 48px;
      aspect-ratio: 1;
      height: 100%;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
