@use '../style/index.scss' as *;

body {
  background-image: url('../px-upload/image/bU4StW2wMzOvXUD5mWxTW9khas.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

[data-variant='white'] {
  background-color: var(--white);
}

[data-variant='dark'] {
  background-color: var(--black-color);

  p,
  .px-text {
    color: var(--off-gray);
  }
}

.px-content-block {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
    @include screen-1024 {
      flex-direction: column;
    }
  }

  &--cta {
    padding: 80px 120px;
    @extend body;
    border-radius: 32px;
  }
}

.px-section--hero {
  /* max-height: 100vh; */
  max-height: 100%;
  .px-container--hero {
    max-width: 910px;
  }
  width: 100%;
  .px-text:not(.px-eyebrow) {
    font-size: 1.125rem;
  }
}

.px-section {
  padding-block: 120px;
  width: 100%;

  &--short {
    padding-block: 60px;
  }
}

.px-top-wrapper,
.px-bottom-wrapper,
.px-left-wrapper,
.px-right-wrapper {
  display: flex;
  flex-direction: column;
}

.px-wrapper-block {
  &--row {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    @include screen-1024 {
      flex-direction: column;
    }
  }
}
