.is_highlight {
  color: inherit;
  background-color: var(--highlight-color);
  display: inline-block;
  padding: 0 12px 6px;
  margin: 0 -6px;
  border-radius: 10px;
}

.is_text-center {
  text-align: center;
}

.is_center {
  place-items: center;
  justify-content: center;
}

.vertical_center {
  align-items: center;
}

.is_fixed {
  position: sticky;
  top: 0;
  z-index: 10;
}

.is_flex-1 {
  flex: 1;
}
