@use 'style/index.scss' as *;

.px-section-id-0413 {
  .px-form {
    width: 480px;
  }

  .px-bottom-wrapper {
    display: flex;
  }
}

.px-section-id-0414 {
  border-bottom: 1px solid #00524217;
  border-top: 1px solid #00524217;
}

.px-section-id-0415 {
  .px-right-wrapper {
    flex: 1;

    @media (min-width: 768px) {
      .px-heading {
        line-height: 0.95;
      }
    }
  }

  .px-left-wrapper {
    @media (min-width: 768px) {
      flex: 0.5;
      width: fit-content;
    }

    p {
      white-space: nowrap;
    }
  }
}

.px-img-0130 {
  transform: translateY(70%);
}

.px-img-0132 {
  bottom: 10%;
  right: 0;
}
