/*
* GLOBAL STYLES
*/
@use 'style/index.scss' as *;

.px-section {
  padding-block: 120px;
  width: 100%;

  &--short {
    padding-block: 60px;
  }
}

.px-container {
  max-width: 1192px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
  @include screen-768 {
    padding-inline: 20px;
  }

  &--nav {
    max-width: 1344px;
  }
}

.px-content-block {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
    @include screen-1024 {
      flex-direction: column;
    }
  }
  /*
  .px-top-wrapper,
  .px-bottom-wrapper,
  .px-left-wrapper,
  .px-right-wrapper {
    flex: 1;
  }
    */
}

.px-heading-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.125rem;

  .px-eyebrow {
    margin-bottom: 1.125rem;
  }
}

.px-image-block {
  position: relative;
  &--stacked {
    img {
      position: absolute;
    }
    .px-image-back {
      z-index: 0;
    }

    .px-image-front {
      z-index: 5;
    }
  }
}
/*==================================
 * LIST
==================================*/
.px-list {
  display: flex;
  padding-block: 20px;
  &--horizontal {
    flex-direction: row;

    .px-list-item:not(:last-child) {
      margin-right: 20px;
      margin-bottom: unset;
    }
  }

  &--vertical {
    flex-direction: column;

    .px-list-item:not(:last-child) {
      margin-bottom: unset;
      margin-bottom: 20px;
    }
  }
}

.px-list-item {
  color: var(--heading-color);
  font-weight: 500;
}

.px-marker {
  &--none {
    list-style-type: none;
  }

  &--disc {
    list-style-type: disc;
  }

  &--circle {
    list-style-type: circle;
  }

  &--square {
    list-style-type: square;
  }

  &--check {
    li::before {
      content: url('../px-upload/icons/check.svg');
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }
  }
}

.px-logo {
  max-height: 32px;
  width: auto;
}
