/*
* FONT MIXINS
*/

@mixin heading-font($size: 1rem, $color) {
  font-family: 'Figtree', Arial, sans-serif;
  font-size: $size;
  font-weight: 500;
  line-height: 1.25;
  color: $color;
  font-optical-sizing: auto;
  text-transform: none;
  text-decoration: none;
}

@mixin paragraph-font($size: 1rem, $color) {
  font-family: 'Inter', Arial, sans-serif;
  font-size: $size;
  font-weight: normal;
  line-height: 1.5;
  color: $color;
  font-optical-sizing: auto;
  text-transform: none;
  text-decoration: none;
}

@mixin subtitle-font($size: 1rem, $color) {
  font-family: 'Inter', Arial, sans-serif;
  font-size: $size;
  font-weight: normal;
  line-height: 1.2;
  color: $color;
  font-optical-sizing: auto;
  text-transform: none;
  text-decoration: none;
}

/*
 * BUTTON MIXINS
 */
@mixin btn-base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: var(--button-radius);
  padding: 16px 28px;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  font-weight: 500;

  &:hover {
    transform: translateY(-7px);
  }

  &:active {
    transform: translateY(-4px);
  }
}

@mixin btn-variant($text-color, $bg-color, $border-color: transparent, $hover-color) {
  color: $text-color;
  background-color: $bg-color;
  border: 1px solid $border-color;

  &:hover {
    background-color: $hover-color;
  }
}

/*
 * RESPONSIVE MIXINS
 */
@mixin screen-1440 {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin screen-1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin screen-992 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin screen-768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin screen-552 {
  @media (max-width: 552px) {
    @content;
  }
}

@mixin screen-320 {
  @media (max-width: 320px) {
    @content;
  }
}
