/* Typography Styles */
// _typography.scss
@use 'mixins' as *;

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.px-heading {
  @include heading-font(1rem, var(--heading-color));
}

h1,
h2,
h3 {
  margin-block: 1rem;
  letter-spacing: -1.5px;
}

h1 {
  font-size: 4.5rem; // 72px
}

h2 {
  font-size: 3.75rem; // 60px
}

h3 {
  font-size: 3rem; // 48px
}

h4 {
  font-size: 2.25rem; // 36px
}

h5 {
  font-size: 1.5rem; // 24px
}

h6 {
  font-size: 1.125rem; // 18px
}

.px-sub {
  font-size: 1.125rem;
}

.px-text {
  font-size: 1rem;
  margin-block: 0.75rem;
}

.px-button,
li,
p {
  @include paragraph-font(1rem, var(--paragraph-color));
  letter-spacing: -0.27px;
}

.px-heading {
  &--page {
    @extend h1;
  }

  &--large {
    @extend h2;
    margin-block: 0 1rem;
  }
  &--section {
    @extend h3;
    margin-block: 0 1rem;
  }
}

/* OVERRIDES */

.px-eyebrow {
  padding: 8px 12px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(var(--heading-color-rgb), 0.9);
  border: 1px solid rgba(var(--heading-color-rgb), 0.2);
  border-radius: 50px;
  width: fit-content;
  margin-block: 0 1.25rem;
}

main a:not(.is_card):not(.px-button) {
  font-family: inherit;
  font-size: inherit;
  color: var(--heading-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 0;
  transition: all 0.3s var(--cubic-bezier);

  &:hover {
    border-color: var(--heading-color);
    padding-bottom: 3px;
  }
}

.px-blog-title {
  @extend h5;
  letter-spacing: -0.5px;
  margin-block: 0 1rem;
}

.px-blog-author-name {
  @extend .px-sub;
  color: var(--black-color);
}

.px-blog-info {
  font-size: 0.8rem;
}

.px-card--blog--row {
  .px-blog-title {
    @extend h6;
    margin-block: 0 0.5rem;
  }

  .px-blog-excerpt,
  .px-blog-author-name {
    @extend .px-blog-info;
  }
}
